@font-face {
    font-family: 'icomoon';
    src:    url('fonts/icomoon.eot?7du0uz');
    src:    url('fonts/icomoon.eot?7du0uz#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?7du0uz') format('truetype'),
    url('fonts/icomoon.woff?7du0uz') format('woff'),
    url('fonts/icomoon.svg?7du0uz#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-wallet:before {
    content: "\e900";
    font-size: 15px;
    padding-right: 15px;
    color:#a7a7a7;
}
.icon-browser:before {
    content: "\f0c5";
    padding-right: 15px;
    font-size: 15px;
    color:#a7a7a7;
}
.icon-file-media:before {
    padding-right: 15px;
    content: "\f012";
    color:#a7a7a7;
    font-size: 15px;
}
.icon-tools:before {
    padding-right: 15px;
    color:#a7a7a7;
    content: "\f031";
    font-size: 13px;
}
.icon-home:before {
    padding-right: 15px;
    content: "\e901";
    font-size: 15px;
    color:#a7a7a7;
}
.icon-phone-hang-up:before {
    content: "\e902";
    color: white;
    position: absolute;
    left: 15px;
    font-size: 30px;
    vertical-align: middle;
    text-align: center;
    height: 58px;
    line-height: 58px;
}
.icon-clock2:before {
    content: "\e903";
    font-size: 15px;
    color:#a7a7a7;
    padding-right: 15px;
}
.icon-briefcase:before {
    content: "\e904";
    font-size: 15px;
    color:#a7a7a7;
    padding-right: 15px;
}
.icon-menu:before {
    content: "\e905";
    color:white;
    font-size:26px;
}
.icon-exit:before {
    left: 40px;
    top:    10px;
    content: "\e906";
    color: white;
    /* display: block; */
    position: absolute;
    font-size: 23px;
}
.icon-loop2:before {
    content: "\e907";
    padding-right: 15px;
    font-size: 15px;
    color:#a7a7a7;
}

