@font-face {
    font-family: Roboto;
    src: url(Roboto-Regular.ttf);
}
body{
    font-family: Roboto;
    padding:0;
    margin:0;}
.container{
    display:table;
    width:100%;
    text-align:center;}
.left-column{
    float:left;
    width:20%;}
.left-column img{
    margin:73px 0;}
.left-column ul{
    margin:0;
    padding-left:0px;
    text-align:left;
    list-style-type: none;
}
.left-column ul li{
    padding-left:30px;
    /* width:100%; */
    border-top:1px solid #f5f5f5;
}
.left-column ul li a{
    height:45px;
    line-height:45px;
    color:#62cdb7;
    text-decoration:none;
}
.left-column ul li:hover{
    background-color: #f5f5f5;}
.right-column{
    float:left;
    width:80%;}
.right-column .header-menu{
    min-height:58px;
}
.right-column .header-menu .point-menu{
    border-right:1px solid #7bd2c0;}
.right-column .header-menu .point-menu:nth-child(1){
    float:left;
    height:58px;
    line-height:58px;
    width:7%;
    background-color:#48baa3;
}

.right-column .header-menu .point-menu a:hover{
    background-color:greenyellow;}
.right-column .header-menu .point-menu:nth-child(2){
    float:left;
    width:40%;
    background-color: #62cdb7;
}
.right-column .header-menu .point-menu:nth-child(3){
    float:left;
    width:23.54%;
    background-color: #62cdb7;
}
.right-column .header-menu .point-menu:nth-child(4){
    float:left;
    height:58px;
    width:20%;
    position: relative;
    background-color: #62cdb7;
}
.right-column .header-menu .point-menu:nth-child(4) a{
    font-weight: bold;
    padding-left: 62px;
    line-height: 25px;
    text-align: left;
}
.right-column .header-menu .point-menu:nth-child(4) a span{
    font-weight: normal;
}
.right-column .header-menu .point-menu a{
    height:58px;
    line-height:58px;
    display:block;
    color:white;
}
.right-column .header-menu .point-menu:nth-child(5) a{
    line-height: 78px;
}
.right-column .header-menu .point-menu:nth-child(5){
    float:left;
    height: 58px;
    position: relative;
    width:9%;
    background-color: #62cdb7;
}
.right-column .inform{
    display:table;
    width:100%;
    text-align:left;}
.right-column .inform p{
    margin:0;
    padding: 9px 0 9px 20px;
    color:#898989;
}
.right-column .inform span{
    color:#303030;
    font-weight:bold;}
.right-column .fon{
    background-color:#f5f5f5;
    min-height: 490px;

}
.right-column .fon .table_1{
    box-sizing:border-box;
    background-color:white;
    width: calc((100% - 50px) / 4);
    float:left;
    margin-right:10px;
    margin-top: 21px;
    /* padding:15px 15px 0 15px; */
}
.right-column .fon .table_1:nth-child(1){
    margin-left:10px;}
.right-column .fon .table_1 p{
    margin: 0 0 15px 15px;
    text-align:left;
    font-size: 14px;
}
.right-column .fon .table_1 span{
    display:table;
    text-align:center;
    margin:0 auto;
    font-weight:bold;
    padding-top: 15px;
}
.right-column .fon .table_1 span:nth-child(2){
    padding-top: 0;
    color:#68cdb5;
    font-weight:bold;
    font-size:27px;
    height:71px;
    line-height:71px;
}
.right-column .fon .table_1:hover{
    border-top:20px solid #ed5c5b;
    margin-top: 11.5px;
}
.right-column .fon .table_1 button{
    padding:0;
    width:100%;
    border: 0;
    height: 48px;
    line-height: 48px;
    color: white;
    font-weight: bold;
    background-color: #68cdb5;}
.right-column .fon .table_1 ul{
    margin:0;
    padding-left:25px;
    list-style-type:none;
    text-align:left;
    padding-bottom:10px;}
.right-column .fon .table_1 ul li{
    height:30px;
    line-height:30px;}
.right-column .fon .table_1 ul li img{
    padding-right:10px;
}
.right-column .fon .table_1:hover button{
    background-color:#ed5c5b;}