@font-face {
    font-family: Roboto;
    src: url(Roboto-Regular.ttf);
}
body{
    font-family: Roboto;
    padding:0;
    margin:0;}
.container{
    display:table;
    width:100%;
    text-align:center;}
.left-column{
    float:left;
    width:20%;}
.left-column img{
    margin:73px 0;}
.left-column ul{
    margin:0;
    padding-left:0px;
    text-align:left;
    list-style-type: none;
}
.left-column ul li{
    padding-left:30px;
    /* width:100%; */
    border-top:1px solid #f5f5f5;
}
.left-column ul li a{
    height:45px;
    line-height:45px;
    color:#62cdb7;
    text-decoration:none;
}
.left-column ul li:hover{
    background-color: #f5f5f5;}
.right-column{
    float:left;
    width:80%;}
.right-column .header-menu{
    min-height:58px;
}
.right-column .header-menu .point-menu{
    border-right:1px solid #7bd2c0;}
.right-column .header-menu .point-menu:nth-child(1){
    float:left;
    height:58px;
    line-height:58px;
    width:7%;
    background-color:#48baa3;
}

.right-column .header-menu .point-menu a:hover{
    background-color:greenyellow;}
.right-column .header-menu .point-menu:nth-child(2){
    float:left;
    width:40%;
    background-color: #62cdb7;
}
.right-column .header-menu .point-menu:nth-child(3){
    float:left;
    width:23.54%;
    background-color: #62cdb7;
}
.right-column .header-menu .point-menu:nth-child(4){
    float:left;
    height:58px;
    position: relative;
    width:20%;
    background-color: #62cdb7;
}
.right-column .header-menu .point-menu:nth-child(4) a{
    font-weight: bold;
    padding-left: 62px;
    line-height: 25px;
    text-align: left;
}
.right-column .header-menu .point-menu:nth-child(4) a span{
    font-weight: normal;
}
.right-column .header-menu .point-menu a{
    height:58px;
    line-height:58px;
    display:block;
    color:white;
}
.right-column .header-menu .point-menu:nth-child(5) a{
    line-height: 78px;
}
.right-column .header-menu .point-menu:nth-child(5){
    float:left;
    position: relative;
    height: 58px;
    width:9%;
    background-color: #62cdb7;
}
.right-column .inform{
    display:table;
    width:100%;
    text-align:left;}
.right-column .inform p{
    margin:0;
    padding: 9px 0 9px 20px;
    color:#898989;
}
.right-column .inform span{
    color:#303030;
    font-weight:bold;}
.right-column .fon{
    background-color:#f5f5f5;
    min-height: 490px;
}
.right-column .fon .table_1 p{
    font-weight: bold;
    color: white;
    margin:0;
    background-color: #62cdb7;
    float: left;
    padding:15px 0;
    width: 82%;
    /* margin-bottom: 15px; */
    text-align:left;
    padding-left:25px;
    box-sizing:border-box;
}

.right-column .fon .table_1{
    position: relative;
    width: 100%;
    float: left;
    /* display:block; */
    box-sizing:border-box;
    padding: 15px 12px;
}
.right-column .fon .table_1 form p{
    font-weight: normal;
    background-color:white;
    color:#555555;
    font-size:17px;
}
.right-column .fon .table_1  button{
    width: 18%;
    float:left;
    border:0;
    background-color:#48baa3;
    height: 48px;
    line-height: 48px;
    color:white;
}
.right-column .fon .table_1 .fon_2{
    box-sizing: border-box;
    /* margin: 0 auto; */
    float: left;
    background-color:white;
    width:100%;
    padding:15px 12px;
}

.right-column .fon .table_1 .fon_2 table,
.right-column .fon .table_1 .fon_2 table th{
    border:2px solid #dfdfdf;
    border-collapse:collapse;
    background-color:#ededed;
    color:#555555;
    height:35px;
    line-height:35px;
}
.right-column .fon .table_1 .fon_2 table{
    width: 100%;

}
.right-column .fon .table_1 .fon_2 table td{
    background-color:white;
    text-align:center;
    border:2px solid #dfdfdf;
    border-collapse:collapse;
    height:55px;}
.right-column .fon .table_1 .fon_2 table td span ,
.right-column .fon .table_1 .fon_2 table td{
    box-sizing:border-box;
}
.right-column .fon .table_1 .fon_2 table td span{
    background-color:#d33738;
    padding:5px 10px;
    color:white;}
.window{
    background-color:white;
    border:3px solid #62cdb7;
    display:none;
    width:60%;
    margin:0 auto;
    position:absolute;
    top:240px;
    z-index:100;
    left:360px;
    padding:10px;
}
.window table{
    /* margin-top: 20px; */
    margin:0 auto;
    width: 95%;
    border:1px solid #ededed;
    border-collapse:collapse;
    text-align:center;
    margin-top: 20px;
}
.window table tr:nth-child(1){
    height:35px;
    color:white;
    background-color:#62cdb7;}
.window table tr{
    height:40px;}
.window table td{
    border:1px solid #ededed;
    border-collapse:collapse;
}
.window span:nth-child(1){
    color:#70d1bc;
}
.window table tr td span{
    color:#555555 !important ;
    font-weight: bold;
    display:inline-block;}
.window span{
    display:table;}

