@font-face {
    font-family: Roboto;
    src: url(Roboto-Regular.ttf);
}
body{
    font-family: Roboto;
    padding:0;
    margin:0;}
.container{
    display:table;
    width:100%;
    text-align:center;}
.left-column{
    float:left;
    width:20%;}
.left-column img{
    margin:73px 0;}
.left-column ul{
    margin:0;
    padding-left:0px;
    text-align:left;
    list-style-type: none;
}
.left-column ul li{

    padding-left:30px;
    /* width:100%; */
    border-top:1px solid #f5f5f5;
}
.left-column ul li a{
    font-family: Roboto;
    height:45px;
    line-height:45px;
    color:#62cdb7;
    text-decoration:none;
}
.left-column ul li:hover{
    background-color: #f5f5f5;}
.right-column{
    float:left;
    width:80%;}
.right-column .header-menu{
    min-height:58px;
}
.right-column .header-menu .point-menu{
    border-right:1px solid #7bd2c0;}
.right-column .header-menu .point-menu:nth-child(1){
    float:left;
    height:58px;
    line-height:58px;
    width:7%;
    background-color:#48baa3;
}

.right-column .header-menu .point-menu a:hover{
    background-color:greenyellow;}
.right-column .header-menu .point-menu:nth-child(2){
    float:left;
    width:40%;
    background-color: #62cdb7;
}
.right-column .header-menu .point-menu:nth-child(3){
    float:left;
    width:23.54%;
    background-color: #62cdb7;
}
.right-column .header-menu .point-menu:nth-child(4){
    float:left;
    height:58px;
    position: relative;
    width:20%;
    background-color: #62cdb7;
}
.right-column .header-menu .point-menu:nth-child(4) a{
    font-weight: bold;
    padding-left: 62px;
    line-height: 25px;
    text-align: left;
}
.right-column .header-menu .point-menu:nth-child(4) a span{
    font-weight: normal;
}
.right-column .header-menu .point-menu a{
    height:58px;
    line-height:58px;
    display:block;
    color:white;
}
.right-column .header-menu .point-menu:nth-child(5) a{
    line-height: 78px;
}
.right-column .header-menu .point-menu:nth-child(5){
    float:left;
    position: relative;
    height: 58px;
    width:9%;
    background-color: #62cdb7;
}
.right-column .inform{
    display:table;
    width:100%;
    text-align:left;}
.right-column .inform p{
    margin:0;
    padding: 12px 0 12px 20px;
    color:#898989;
}
.right-column .inform span{
    line-height: 56px;
    color:#303030;
    font-weight:bold;
}
.right-column .fon{
    background-color:#f5f5f5;
    min-height: 463px;
    padding:15px 12px;
}
.right-column .fon .left{
    float:left;
    width:32%;
    margin-right:8px;}
.right-column .fon .left .top_block{
    /* height: 160px; */
    background-color:#62cdb7;
    color:white;
    /* margin-bottom:5px; */
    padding: 17px 0 20px 0;
}
.right-column .fon .left .top_block span{
    display:table;
    font-weight:bold;
    text-align:center;
    margin:0 auto;}
.right-column .fon .left .top_block span:nth-child(1){
    /* color:red; */
    /* padding: 1px 0 0 0; */
}
.right-column .fon .left .top_block span:nth-child(2){
    font-weight:normal;
    font-size:12px;
}
.right-column .fon .left .top_block img{
    padding: 15px 0 10px 0;
}
.right-column .fon .left .top_block span img{
    padding: 0 10px 0px 0;
    /* border-bottom: 0px solid #62cdb7; */
}
.right-column .fon .left .top_block .image {
    font-weight:normal;
    font-size:12px;
}
.right-column .fon .left .top_block  a{
    text-decoration:none;
    border-bottom:1px dashed white;}
.right-column .fon .left .top_block  a .image{
    color:white;width: 155px;
    border-bottom:1px dashed white;
    display:block;}
.right-column .fon .left .priglash{
    position: relative;
    margin-bottom: 5px;
    height:50px;
    line-height:50px;
    text-align:left;
    padding-left:15px;
    background-color:white;
}
.right-column .fon .left .priglash P{
    /* position: relative; */
    margin:0;
}
.right-column .fon .left .priglash span{
    font-weight:bold;}
.right-column .fon .left .bottom_block{
    background-color:white;
    padding:30px 0;}
.right-column .fon .left .bottom_block span{
    display:table;
    text-align:left;
    padding-left:70px;
    font-size:12px;
    color:#848484;
    line-height:26px;
}
.right-column .fon .left .bottom_block span img{
    padding-left:10px;}
.right-column .fon .left .bottom_block p{
    margin:0;
    padding:14px 0;
    color:#70d1bc;
    font-weight:bold;
}
.right-column .fon .right{
    float:left;
    width:calc(100% - 32% - 8px);
}
.right-column .fon .right .horizontal_block_1{
    float: left;
    width:100%;
    margin-bottom:5px;
}
.right-column .fon .right .horizontal_block_1:after{
    content:" ";
    clear:both;
}
.right-column .fon .right .horizontal_block_1 .block{
    float:left;
    width:calc((100% - 10px) / 3);

    margin-right:5px;}
.right-column .fon .right .horizontal_block_1 .block:nth-child(3){
    margin-right:0;}
.right-column .fon .right .horizontal_block_1 .block span{
    display:table;
    text-align: left;
    /* margin:0 auto; */
}
.right-column .fon .right .horizontal_block_1 .block span:nth-child(1){
    padding-left: 17px;
    background-color:#62cdb7;
    width:100%;
    height:42px;
    line-height:42px;
    color:white;
    font-weight:bold;
    font-size: 13px;
    box-sizing: border-box;
}
.right-column .fon .right .horizontal_block_1 .block span:nth-child(2){
    width:100%;
    background-color:#ffffff;
    height:55px;
    line-height:55px;
    font-size:25px;
    text-align:left;
    padding-left:17px;
    box-sizing:border-box;
}

.right-column .fon .right .horizontal_block_1 .block span:nth-child(3){
    font-size: 12px;
    text-align: left;
    width:100%;
    background-color:#dfdfdf;
    height:34px;
    line-height:34px;
    color:#f15a5a;
    font-weight:bold;
    padding-left: 17px;
    box-sizing: border-box;
}
.right-column .fon .right .horizontal_block_1 .block span img{vertical-align: middle;/* line-height: 34px; */padding-right:10px;}
.right-column .fon .right .horizontal_block_2{
    margin-bottom: 5px;
    width:100%;
    float: left;
}
.right-column .fon .right .horizontal_block_2 .block_2{
    float:left;
    margin-right:5px;
    /* background-color:greenyellow; */
    width: calc((100% - 5px) / 2);
}
.right-column .fon .right .horizontal_block_2 .block_2:nth-child(2){
    margin-right:0;
}
.right-column .fon .right .horizontal_block_2 .block_2 span:nth-child(1){
    background-color:#62cdb7;
    display:table;
    width:100%;
    line-height:40px;
    /* height:40px; */
    color:white;
    font-weight:bold;
    font-size:14px;
    text-align:left;
    padding-left:17px;
    box-sizing:border-box;
}
.right-column .fon .right .horizontal_block_2 .block_2 .color{
    width: 100%;
    float:left;
    background-color: white;
}
.right-column .fon .right .horizontal_block_2 .block_2 .color span{color: black;font-size: 25px;line-height: 53px;float:left;background-color: white;
    width:calc(100% - 32% - 17px);}
.right-column .fon .right .horizontal_block_2 .block_2 .color button{padding: 5px 20px;margin: 8px 0;float:left;
    width:32%;
    border:0;font-size: 11px;box-sizing: border-box;border: 1px solid #62cdb7;background-color: white;color: #eb8787;font-weight: bold;}
.right-column .fon .right .horizontal_block_2 .block_2 .block_border{
    float:left;
    width:100%;
    padding: 14px 17px;
    box-sizing:border-box;
    border:1px solid #dcdcdc;
    position: relative;
}
.right-column .fon .right .horizontal_block_2 .block_2 .block_border p{

    width: calc(100% - 5% - 23px);

    float: left;

    margin: 0;

    text-align: left;
}
.right-column .fon .right .horizontal_block_2 .block_2 .block_border img{
    width: 5%;
    padding-right:23px;
    vertical-align:middle;
    float: left;
}
.triangle::after {
    content: '';
    position: absolute;/* ?????????? ???????????????? */
    left: 39px;
    bottom: 67px;/* ????????? ???????????? */
    border: 8px solid transparent;/* ?????????? ??????? */
    border-bottom: 8px solid #f5f5f5;/* ????????? ??????????? */
}
.right-column .fon .right .horizontal_block_3{
    float:left;
    width:100%;}
.right-column .fon .right .horizontal_block_3 .block_3{float: left;
    margin-right: 5px;
    background-color: white;
    width: calc((100% - 5px) / 2);}
.right-column .fon .right .horizontal_block_3 .block_3:nth-child(2){
    margin-right:0;
}
.right-column .fon .right .horizontal_block_3 .block_3 span{
    display:table;
    text-align:left;
    padding: 9px 14px 5px 14px;
    box-sizing:border-box;
}
.right-column .fon .right .horizontal_block_3 .block_3 span:nth-child(1){
    color:#70d1bc;
    font-weight:bold;
}
.right-column .fon .right .horizontal_block_3 .block_3 span img{
    padding-right:10px;}
.right-column .fon .right .horizontal_block_3 .block_3 span:nth-child(2){
    padding: 0;
    color:#f15a5a;
    margin: 0 14px 6px 14px;
    border-bottom: 1px solid #f15a5a;
}
.right-column .fon .right .horizontal_block_3 .block_3 p{
    margin:0;padding: 0 30px 0 14px;
    text-align:left;font-size: 14px;}
.right-column .fon .right .horizontal_block_3 .block_3 a .link{
    color:#f15a5a;
    font-weight:normal;
}
.right-column .fon .right .horizontal_block_2 .block_2 span:nth-child(1) img{
    vertical-align:middle;
    padding-right:10px;
}
.right-column .fon .right .horizontal_block_3 .block_3 a{
    text-decoration:none;

}
.right-column .fon .left  .ya-share2{
    position:absolute;
    top:10px;
    left:0;
}
.right-column .fon .left .bottom_block span a{
    text-decoration:none;}@font-face {
    font-family: Roboto;
    src: url(Roboto-Regular.ttf);
}
body{
    font-family: Roboto;
    padding:0;
    margin:0;}
.container{
    display:table;
    width:100%;
    text-align:center;}
.left-column{
    float:left;
    width:20%;}
.left-column img{
    margin:73px 0;}
.left-column ul{
    margin:0;
    padding-left:0px;
    text-align:left;
    list-style-type: none;
}
.left-column ul li{
    padding-left:30px;
    /* width:100%; */
    border-top:1px solid #f5f5f5;
}
.left-column ul li a{
    height:45px;
    line-height:45px;
    color:#62cdb7;
    text-decoration:none;
}
.left-column ul li:hover{
    background-color: #f5f5f5;}
.right-column{
    float:left;
    width:80%;}
.right-column .header-menu{
    min-height:58px;
}
.right-column .header-menu .point-menu{
    border-right:1px solid #7bd2c0;}
.right-column .header-menu .point-menu:nth-child(1){
    float:left;
    height:58px;
    line-height:58px;
    width:7%;
    background-color:#48baa3;
}

.right-column .header-menu .point-menu a:hover{
    background-color:greenyellow;}
.right-column .header-menu .point-menu:nth-child(2){
    float:left;
    width:40%;
    background-color: #62cdb7;
}
.right-column .header-menu .point-menu:nth-child(3){
    float:left;
    width:23.54%;
    background-color: #62cdb7;
}
.right-column .header-menu .point-menu:nth-child(4){
    float:left;
    height:58px;
    width:20%;
    background-color: #62cdb7;
}
.right-column .header-menu .point-menu:nth-child(4) a{
    font-weight: bold;
    padding-left: 62px;
    line-height: 25px;
    text-align: left;
}
.right-column .header-menu .point-menu:nth-child(4) a span{
    font-weight: normal;
}
.right-column .header-menu .point-menu a{
    height:58px;
    line-height:58px;
    display:block;
    color:white;
}
.right-column .header-menu .point-menu:nth-child(5) a{
    line-height: 78px;
}
.right-column .header-menu .point-menu:nth-child(5){
    float:left;
    height: 58px;
    width:9%;
    background-color: #62cdb7;
}
.right-column .inform{
    position: relative;
    display:table;
    width:100%;
    text-align:left;
}
.right-column .inform p{
    margin:0;
    padding: 12px 0 12px 20px;
    color:#898989;
}
.right-column .inform span{
    padding-left: 20px;
    line-height: 56px;
    color:#303030;
    font-weight:bold;
}
.right-column .fon{
    background-color:#f5f5f5;
    min-height: 490px;
    padding: 15px 12px 0 15px;
}
.right-column .fon .left{
    float:left;
    width:32%;
    margin-right:8px;}
.right-column .fon .left .top_block{
    /* height: 160px; */
    background-color:#62cdb7;
    color:white;
    /* margin-bottom:5px; */
    padding: 17px 0 20px 0;
}
.right-column .fon .left .top_block span{
    display:table;
    font-weight:bold;
    text-align:center;
    margin:0 auto;}
.right-column .fon .left .top_block span:nth-child(1){
    /* color:red; */
    /* padding: 1px 0 0 0; */
}
.right-column .fon .left .top_block span:nth-child(2){
    font-weight:normal;
    font-size:12px;
}
.right-column .fon .left .top_block img{
    padding: 15px 0 10px 0;
}
.right-column .fon .left .top_block span img{
    padding: 0 10px 0px 0;
    /* border-bottom: 0px solid #62cdb7; */
}
.right-column .fon .left .top_block .image {
    font-weight:normal;
    font-size:12px;
}
.right-column .fon .left .top_block  a{
    text-decoration:none;
    border-bottom:1px dashed white;}
.right-column .fon .left .top_block  a .image{
    color:white;width: 155px;
    border-bottom:1px dashed white;
    display:block;}
.right-column .fon .left .priglash{
    position: relative;
    margin-bottom: 5px;
    height:50px;
    line-height:50px;
    text-align:left;
    padding-left:15px;
    background-color:white;
}
.right-column .fon .left .priglash P{
    /* position: relative; */
    margin:0;
}
.right-column .fon .left .priglash span{
    font-weight:bold;}
.right-column .fon .left .bottom_block{
    background-color:white;
    padding:30px 0;}
.right-column .fon .left .bottom_block span{
    display:table;
    text-align:left;
    padding-left:70px;
    font-size:12px;
    color:#848484;
    line-height:26px;
}
.right-column .fon .left .bottom_block span img{
    padding-left:10px;}
.right-column .fon .left .bottom_block p{
    margin:0;
    padding:14px 0;
    color:#70d1bc;
    font-weight:bold;
}
.right-column .fon .right{
    float:left;
    width:calc(100% - 32% - 8px);
}
.right-column .fon .right .horizontal_block_1{
    float: left;
    width:100%;
    margin-bottom:5px;
}
.right-column .fon .right .horizontal_block_1:after{
    content:" ";
    clear:both;
}
.right-column .fon .right .horizontal_block_1 .block{
    float:left;
    width:calc((100% - 10px) / 3);

    margin-right:5px;}
.right-column .fon .right .horizontal_block_1 .block:nth-child(3){
    margin-right:0;}
.right-column .fon .right .horizontal_block_1 .block span{
    display:table;
    text-align: left;
    /* margin:0 auto; */
}
.right-column .fon .right .horizontal_block_1 .block span:nth-child(1){
    padding-left: 17px;
    background-color:#62cdb7;
    width:100%;
    height:42px;
    line-height:42px;
    color:white;
    font-weight:bold;
    font-size: 13px;
    box-sizing: border-box;
}
.right-column .fon .right .horizontal_block_1 .block span:nth-child(2){
    width:100%;
    background-color:#ffffff;
    height:55px;
    line-height:55px;
    font-size:25px;
    text-align:left;
    padding-left:17px;
    box-sizing:border-box;
}

.right-column .fon .right .horizontal_block_1 .block span:nth-child(3){
    font-size: 12px;
    text-align: left;
    width:100%;
    background-color:#dfdfdf;
    height:34px;
    line-height:34px;
    color:#f15a5a;
    font-weight:bold;
    padding-left: 17px;
    box-sizing: border-box;
}
.right-column .fon .right .horizontal_block_1 .block span img{vertical-align: middle;/* line-height: 34px; */padding-right:10px;}
.right-column .fon .right .horizontal_block_2{
    margin-bottom: 5px;
    width:100%;
    float: left;
}
.right-column .fon .right .horizontal_block_2 .block_2{
    float:left;
    margin-right:5px;
    /* background-color:greenyellow; */
    width: calc((100% - 5px) / 2);
}
.right-column .fon .right .horizontal_block_2 .block_2:nth-child(2){
    margin-right:0;
}
.right-column .fon .right .horizontal_block_2 .block_2 span:nth-child(1){
    background-color:#62cdb7;
    display:table;
    width:100%;
    line-height:40px;
    /* height:40px; */
    color:white;
    font-weight:bold;
    font-size:14px;
    text-align:left;
    padding-left:17px;
    box-sizing:border-box;
}
.right-column .fon .right .horizontal_block_2 .block_2 .color{
    width: 100%;
    float:left;
    background-color: white;
}
.right-column .fon .right .horizontal_block_2 .block_2 .color span{color: black;font-size: 25px;line-height: 53px;float:left;background-color: white;
    width:calc(100% - 32% - 17px);}
.right-column .fon .right .horizontal_block_2 .block_2 .color button{padding: 5px 20px;margin: 8px 0;float:left;
    width:32%;
    border:0;font-size: 11px;box-sizing: border-box;border: 1px solid #62cdb7;background-color: white;color: #eb8787;font-weight: bold;}
.right-column .fon .right .horizontal_block_2 .block_2 .block_border{
    float:left;
    width:100%;
    padding: 14px 17px;
    box-sizing:border-box;
    border:1px solid #dcdcdc;
    position: relative;
}
.right-column .fon .right .horizontal_block_2 .block_2 .block_border p{

    width: calc(100% - 5% - 23px);

    float: left;

    margin: 0;

    text-align: left;
}
.right-column .fon .right .horizontal_block_2 .block_2 .block_border img{
    width: 5%;
    padding-right:23px;
    vertical-align:middle;
    float: left;
}
.triangle::after {
    content: '';
    position: absolute;/* ?????????? ???????????????? */
    left: 39px;
    bottom: 67px;/* ????????? ???????????? */
    border: 8px solid transparent;/* ?????????? ??????? */
    border-bottom: 8px solid #f5f5f5;/* ????????? ??????????? */
}
.right-column .fon .right .horizontal_block_3{
    float:left;
    width:100%;}
.right-column .fon .right .horizontal_block_3 .block_3{float: left;
    margin-right: 5px;
    background-color: white;
    width: calc((100% - 5px) / 2);}
.right-column .fon .right .horizontal_block_3 .block_3:nth-child(2){
    margin-right:0;
}
.right-column .fon .right .horizontal_block_3 .block_3 span{
    display:table;
    text-align:left;
    padding: 9px 14px 5px 14px;
    box-sizing:border-box;
}
.right-column .fon .right .horizontal_block_3 .block_3 span:nth-child(1){
    color:#70d1bc;
    font-weight:bold;
}
.right-column .fon .right .horizontal_block_3 .block_3 span img{
    padding-right:10px;}
.right-column .fon .right .horizontal_block_3 .block_3 span:nth-child(2){
    padding: 0;
    color:#f15a5a;
    margin: 0 14px 6px 14px;
    border-bottom: 1px solid #f15a5a;
}
.right-column .fon .right .horizontal_block_3 .block_3 p{
    margin:0;padding: 0 30px 0 14px;
    text-align:left;font-size: 14px;}
.right-column .fon .right .horizontal_block_3 .block_3 a .link{
    color:#f15a5a;
    font-weight:normal;
}
.right-column .fon .right .horizontal_block_3 .block_3 a{
    text-decoration:none;

}
.right-column .fon .left  .ya-share2{
    position:absolute;
    top:10px;
    left:0;
}
.right-column .fon .left .bottom_block span a{
    text-decoration:none;}