@font-face {
    font-family: Roboto;
    src: url(Roboto-Regular.ttf);
}
body{
    font-family: Roboto;
    padding:0;
    margin:0;}
.container{
    display:table;
    width:100%;
    text-align:center;}
.left-column{
    float:left;
    width:20%;}
.left-column img{
    margin:73px 0;}
.left-column ul{
    margin:0;
    padding-left:0px;
    text-align:left;
    list-style-type: none;
}
.left-column ul li{
    padding-left:30px;
    /* width:100%; */
    border-top:1px solid #f5f5f5;
}
.left-column ul li a{
    height:45px;
    line-height:45px;
    color:#62cdb7;
    text-decoration:none;
}
.left-column ul li:hover{
    background-color: #f5f5f5;}
.right-column{
    float:left;
    width:80%;}
.right-column .header-menu{
    min-height:58px;
}
.right-column .header-menu .point-menu{
    border-right:1px solid #7bd2c0;}
.right-column .header-menu .point-menu:nth-child(1){
    float:left;
    height:58px;
    line-height:58px;
    width:7%;
    background-color:#48baa3;
}
.right-column .header-menu .point-menu a:hover{
    background-color:greenyellow;}
.right-column .header-menu .point-menu:nth-child(2){
    float:left;
    width:40%;
    background-color: #62cdb7;
}
.right-column .header-menu .point-menu:nth-child(3){
    float:left;
    width:23.54%;
    background-color: #62cdb7;
}
.right-column .header-menu .point-menu:nth-child(4){
    float:left;
    position: relative;
    height:58px;
    width:20%;
    background-color: #62cdb7;
}
.right-column .header-menu .point-menu:nth-child(4) a{
    font-weight: bold;
    padding-left: 62px;
    line-height: 25px;
    text-align: left;
}
.right-column .header-menu .point-menu:nth-child(4) a span{
    font-weight: normal;
}
.right-column .header-menu .point-menu a{
    height:58px;
    line-height:58px;
    display:block;
    color:white;
}
.right-column .header-menu .point-menu:nth-child(5) a{
    line-height: 78px;
}
.right-column .header-menu .point-menu:nth-child(5){
    float:left;
    height: 58px;
    position: relative;
    width:9%;
    background-color: #62cdb7;
}
.right-column .inform{
    display:table;
    width:100%;
    text-align:left;}
.right-column .inform p{
    margin:0;
    padding: 0 0 0 20px;
    color:#898989;
    line-height: 56px;
}
.right-column .inform span{
    color:#303030;
    font-weight:bold;}
.right-column .fon{
    background-color:#f5f5f5;
    min-height: 490px;
}
.right-column .fon .table_1 p{
    font-weight: bold;
    color: white;
    margin:0;
    background-color: #62cdb7;
    display:block;
    padding:15px 0;
    width: 100%;
    padding-right: 40px;
    text-align:left;
    padding-left:25px;
    box-sizing:border-box;
}

.right-column .fon .table_1{
    width: calc( (100% - 12px - 10px) / 3);
    float: left;
    /* display:block; */
    box-sizing:border-box;
    padding:15px 0 0 12px
}
.right-column .fon .table_1 form p{
    font-weight: normal;
    background-color:white;
    color:#555555;
    font-size:17px;
}
.right-column .fon .table_1 form button{
    width: 100%;
    display:block;
    border:0;
    background-color: #dfdfdf;
    height:34px;
    color:white;
    line-height:34px;
}
form{margin:0;}
.right-column .fon .table_1 form .input{
    text-align: right;
    width: 100%;
    box-sizing:border-box;
    padding-right:15px;
    background-color:white;
    padding-bottom:6px;
    display:block;
}
.right-column .fon .table_1 form .input {
    color: #656565;
    /* text-align: center; */
}
.right-column .fon .table_1 form .input input{
    border: 1px solid #dfdfdf;
    width:65%;
    height:30px;
    line-height:30px;
    padding-left:15px;
}
.right-column .fon .table_1 .form_2{
    box-sizing: border-box;
    padding-top: 15px;
}



.right-column .fon .table_2 p{
    font-weight: bold;
    color: white;
    margin:0;
    background-color: #62cdb7;
    display:block;
    padding:15px 0;
    width: 100%;
    padding-right: 40px;
    text-align:left;
    padding-left:25px;
    box-sizing:border-box;
}

.right-column .fon .table_2{
    width: calc( (100% - 12px - 10px) / 2);
    float: left;
    /* display:block; */
    box-sizing:border-box;
    padding:15px 0 0 12px
}
.right-column .fon .table_2 form p{
    font-weight: normal;
    background-color:white;
    color:#555555;
    font-size:17px;
}
.right-column .fon .table_2 form button{
    width: 100%;
    display:block;
    border:0;
    background-color: #dfdfdf;
    height:34px;
    color:white;
    line-height:34px;
}
form{box-sizing: border-box;margin:0;padding-top: 15px;background-color: white;}
.right-column .fon .table_2 form .input{
    width: 100%;
    box-sizing:border-box;
    padding-right:15px;
    background-color:white;
    padding-bottom:6px;
    display:block;
}
.right-column .fon .table_2 form .input {
    padding-bottom: 16px;
    text-align: right;
    /* margin-left: 15px; */
    float: left;
    color: #656565;
    /* text-align:right; */
    width: 47%;
    padding-right: 0;
}
.right-column .fon .table_2 form .input input{
    margin-bottom: 6px;
    border: 1px solid #dfdfdf;
    width: calc(100% - 15px);
    height:30px;
    line-height:30px;
    padding-left:15px;
}
.right-column .fon .table_2 .form_2{
    box-sizing: border-box;
    padding-top: 15px;
}
.right-column .fon .table_1 form .form_2{height: 108px;
    line-height: 65px;}
.right-column .fon .table_1:nth-child(1) form .input input{
    width:calc(100% - 15px);}
.right-column .fon .table_1:nth-child(3) form .input{
    font-size:13px;}
.right-column .fon .table_1:nth-child(3) form .input input{
    border:none;
    font-size:11px;
    height:30px;
    line-height:30px;
    border:none;
}
.right-column .fon .table_2 form .ya-share2 {
    padding-left: 25px;
    text-align: left;
    padding-bottom: 30px;}
.right-column .fon .table_2  .input-left{
    float:left;}
.right-column .fon .table_2  .input-right{
    float:left;
    width:53%;
    text-align:left;
    padding-left:15px;
    box-sizing:border-box;
}
.right-column .fon .table_2  .input-right span ,
.right-column .fon .table_2  .input-right .radio_block{height: 37px;margin-bottom: 0px;line-height: 34px;} 
