@font-face {
    font-family: Roboto;
    src: url(Roboto-Regular.ttf);
}
body{
    font-family: Roboto;
    padding:0;
    margin:0;}
.container{
    display:table;
    width:100%;
    text-align:center;}
.left-column{
    float:left;
    width:20%;}
.left-column img{
    margin:73px 0;}
.left-column ul{
    margin:0;
    padding-left:0px;
    text-align:left;
    list-style-type: none;
}
.left-column ul li{
    padding-left:30px;
    /* width:100%; */
    border-top:1px solid #f5f5f5;
}
.left-column ul li a{
    height:45px;
    line-height:45px;
    color:#62cdb7;
    text-decoration:none;
}
.left-column ul li:hover{
    background-color: #f5f5f5;}
.right-column{
    float:left;
    width:80%;}
.right-column .header-menu{
    min-height:58px;
}
.right-column .header-menu .point-menu{
    border-right:1px solid #7bd2c0;}
.right-column .header-menu .point-menu:nth-child(1){
    float:left;
    height:58px;
    line-height:58px;
    width:7%;
    background-color:#48baa3;
}

.right-column .header-menu .point-menu a:hover{
    background-color:greenyellow;}
.right-column .header-menu .point-menu:nth-child(2){
    float:left;
    width: 39.92999%;
    background-color: #62cdb7;
}
.right-column .header-menu .point-menu:nth-child(3){
    float:left;
    width:23.54%;
    background-color: #62cdb7;
}
.right-column .header-menu .point-menu:nth-child(4){
    float:left;
    position: relative;
    height:58px;
    width: 20%;
    background-color: #62cdb7;
}
.right-column .header-menu .point-menu:nth-child(4) a{
    font-weight: bold;
    padding-left: 62px;
    line-height: 25px;
    text-align: left;
}
.right-column .header-menu .point-menu:nth-child(4) a span{
    font-weight: normal;
}
.right-column .header-menu .point-menu a{
    height:58px;
    line-height:58px;
    display:block;
    color:white;
}
.right-column .header-menu .point-menu:nth-child(5) a{
    line-height: 78px;
}
.right-column .header-menu .point-menu:nth-child(5){
    float:left;
    height: 58px;
    position: relative;
    width:9%;
    background-color: #62cdb7;
}
.right-column .inform{
    display:table;
    width:100%;
    text-align:left;}
.right-column .inform p{
    margin:0;
    padding: 0 0 0 20px;
    color:#898989;
    line-height: 56px;
}
.right-column .inform span{
    color:#303030;
    font-weight:bold;}
.right-column .fon{
    background-color:#f5f5f5;
    height: 490px;
    padding:12px;
    box-sizing:border-box;
}


.right-column .fon .table_1{
    height: 286px;
    width: calc(70% - 6px);
    background-color: white;
    float: left;
    /* display:block; */
    box-sizing:border-box;
    margin-right: 12px;
}
.right-column .fon .table_2{
    background-color: white;
    width: calc(30% - 6px);
    float: left;
    /* display:block; */
    box-sizing:border-box;
}
.right-column .fon .table_1 p {
    line-height: 25px;
    text-align:left;
    padding-left: 20px;
    height: 25px;
    margin: 0;
}
.right-column .fon p:nth-child(1) {
    color: #62cdb7;
    margin:0;
    line-height: 40px;
    text-align:left;
    padding-left:20px;
    height: 40px;
}
.right-column .fon .table_1 input{
    width:calc(100% - 20px - 20px);
    padding-left:15px;
    border:1px solid #dadada;
    height:27px;
    line-height:27px;}
.right-column .fon .table_1  button{
    margin-top:8px;
    margin-bottom:8px;
    width:calc(100% - 20px - 20px);
    border:1px solid #dadada;
    height:27px;
    line-height:27px;
    color:#838383;
    background-color:white;}
.right-column .fon .table_1 table{
    width:calc(100% - 36px);
    margin:0 auto;
    text-align:center;
    margin-bottom:10px;}
.right-column .fon .table_1 td{
    border:1px solid #e4e4e4;
    height:30px;
    line-height:30px;}
.right-column .fon .table_1 tr:nth-child(1){
    background-color:#62cdb7;
    color:white;
}
.right-column .fon .table_2 p:nth-child(1){
    padding-left: 0;
    margin:0 10px;
    text-align:left;
    color: #62cdb7;line-height: 40px;height:40px;}
.right-column .fon .table_2 p{
    text-align:left;
    font-size:15px;
    margin:0 10px 10px 10px;}
.right-column .fon .table_2 .link{
    display:block;
    margin:0 auto;
    width:calc(100% - 20px);
    height:72px;
    border-top:1px solid #eaeaea;}
.right-column .fon .table_2 .link .name{
    margin:0;
    color:black;
}
.right-column .fon .table_2 .link a{
    display: block;
    width: 100%;
    color:#f18585;
    margin: 0;
    height: 20px;
    text-align:left;
}
.right-column .fon .table_2 .link img{
    height: 20px;
    width: 106px;
}
